<%- include('../_layouts/adminheader') %>

<h2 class="categories-title">Categories</h2>
<a href="/admin/categories/add-category" class="btn btn-primary">Add a new category</a>
<br><br>

<table class="table table-striped table-hover">

    <thead class="table-dark">
        <tr class="home">
            <th>Categories</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach(function(cat){ %>
        <tr>
            <td class="pgtitle"><%= cat.title %></td>
            <td><a href="/admin/categories/edit-category/<%= cat._id %>" id="edit">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= cat._id %>" id="delete">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>


<%- include('../_layouts/adminfooter') %>
